body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to right, rgb(0, 0, 124),rgb(182, 48, 182));
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    color: aliceblue;
    letter-spacing: 2px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.nav{
    display: flex;
    gap: 20px;
}
.nav button{
    padding: 9px;
    background-color: rgb(182, 48, 182);
    border: none;
    color: aliceblue;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 15px;
    border-radius:7px ;
    cursor: pointer;
}
label{
    color: aliceblue;
}
input[type="color"]{
    width:3rem ; 
}
#container{
    display: inline-grid;
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(25,1fr);
    width: 450px;
    height: 450px;
    background-color: rgb(255, 255, 255);
    margin-top: 30px;

}
.box{
    background-color: aliceblue;
    border: 1px solid rgb(224, 224, 224);
    
    
}
footer p{
    text-align: center;
    color: aliceblue;
}
footer p img{
    margin-right: 15px;
}
footer p a{
    color: aliceblue;
    margin-left: 15px;
    text-decoration: none;
    

}

.popop{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    box-shadow: 6px 12px 26px 0 rgb(24, 24, 24);
    padding: 45px;
    position: absolute;
    border-radius: 9px;
}
.popop p{
    color: aliceblue;
    opacity: 0.6;
}
.popop label{
    margin-bottom: 23px;
}
.popop input{
    margin-bottom: 14px;
    padding: 5px;
    outline: none;
    background-color: rgb(227, 227, 227);
    border: none;
}
.popop button{
    padding: 7px 11px;
    border: none;
    background-color: rgb(40, 40, 41);
    color: aliceblue;
    box-shadow: 6px 4px 8px 0 black;
    cursor: pointer;
    
}
